/* Style for listing page  */
#productImage {
    width: 70%;   
}
#imageForward {
    float: right;
    margin-left: 5px;
    width: 100px;
}
#imageBackward {
    float: left;
    margin-right: 5px;
    width: 100px;
}
#imageBackward:hover, #imageForward:hover {
    opacity: 50%;
}
#images {
    display:flex;
    align-items: center;
    justify-content: center;
}
#description {
    display: flex;
    align-items: center;
    justify-content: center;
}
#productName{
    margin-left: auto;
    margin-right: auto;
}
#userName {
    margin-left: auto;
    margin-right: auto;
}
#price {
    margin-left: auto;
    margin-right: auto;
}
#information {
    text-align: center;
}


/* Style for home page */
/* #myListing1 {
    display: grid;
    height: 200px;
    width: 75vw;
    background-size: 100%, 100%;
    background-image: url("../images/drink2.jpg");
    background-repeat: no-repeat;
    grid-template-rows: 60% 20% 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#myListing2 {
    display: grid;
    height: 200px;
    width: 75vw;
    background-size: 100%, 100%;
    background-image: url("../images/drink2.jpg");
    background-repeat: no-repeat;
    grid-template-rows: 60% 20% 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
} */




/* Style for browsing page */
.list {
    display: grid;
    height: 200px;
    width: 95vw;
    background-size: 100%, 100%;
    /* background-image: url("../images/drink2.jpg"); */
    background-repeat: no-repeat;
    grid-template-rows: 60% 20% 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.prodName {
    grid-row: 2 / span 1;
    margin-left: auto;
    margin-right: auto;
    /* grid-column: 1 / span 1; */
}
.userName {
    grid-row: 2 / span 1;
    margin-left: auto;
    margin-right: auto;
    /* grid-column: 2 / span 1; */
}
.price {
    grid-row: 2 / span 1;
    margin-left: auto;
    margin-right: auto;
    /* grid-column: 3 / span 1; */
}
.info {
    grid-row: 3 / span 1;
    margin-left: auto;
    margin-right: auto;
}
/* #listing2 {
    display: grid;
    height: 200px;
    width: 95vw;
    background-size: 100%, 100%;
    background-image: url("../images/drink1.jpg");
    background-repeat: no-repeat;
    grid-template-rows: 60% 20% 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
} */
/* #productName2 {
    grid-row: 2 / span 1;
    /* grid-column: 1 / span 1; 
}*/
/*
#userName2 {
    grid-row: 2 / span 1;
    /* grid-column: 2 / span 1; 
}
#price2 {
    grid-row: 2 / span 1;
    /* grid-column: 3 / span 1; 
}
#information2 {
    grid-row: 3 / span 1;
}
#yourListings {
    text-align: center;
}
#yourListings2 {
    text-align: center;
    height: 400px;
    overflow: scroll;
} */

/* Style for submission form page */
#submission-form {
    height: 100vh;
    width: 100vw;
    padding: 10px;
    margin-top: 25%;
}

#submission-form p {
    padding-top: 15px;
}

.btn-block {
    width: 100%;
}

.input-group{
    padding-bottom: 20px;
}

.col-12 {
    padding-bottom: 20px;
}

#file-label {
    padding-top: 5%;
}

.navbar {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

/* footer styling */
.footer, .d-flex {
    margin: 10px;
}

#footerButton {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#footerButton p {
    margin: auto;
}